# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/

# Environment variables
.env

# Django
db.sqlite3
media/

# Node
frontend/node_modules/
node_modules/

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
